version: "3.9"

services:
  app:
    build:
      context: .
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    depends_on:
      - postgres

  nginx:
    image: nginx
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  postgres:
    image: postgres:14
    container_name: laravel_postgres
    restart: always
    environment:
      POSTGRES_DB: gigalogy_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  queue:
    build:
      context: .
    container_name: laravel_queue
    command: php artisan queue:work --sleep=1 --tries=3
    volumes:
      - .:/var/www/html
    depends_on:
      - app
      - postgres

volumes:
  pgdata:
